@keyframes shortNavDropDownAni {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    };
};

@keyframes storeSubImageAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    };
};